<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs')%>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1 class="alert alert-success text-center">update student</h1>
             <div class="col">
            <form method="post" action="/update/<%= data._id%>"> 
            <input type="text" class="form-control" name="fname" placeholder="First name" value="<%= data.fname %>" />
         </div> <br>
         <div class="col">
      <input type="text" class="form-control" name="lname" placeholder="Last Name"  value="<%= data.lname %>" />
         </div> <br>
         <div class="col">
      <input type="text" class="form-control" name="age" placeholder="enter your age"  value="<%= data.age %>" />
         </div> <br>
          <div class="col">
      <input type="email" class="form-control" name="email" placeholder="email"  value="<%= data.email %>" />
         </div> <br>
          <button type="submit" class="btn btn-warning">Submit</button>
          <button type="submit" class="btn btn-secondary">back to home</button>
        </div>


</div>
</body>
</html>